<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="park.ohgiraffers.fashionmanager.mapper.UserMapper">

  <select id="selectUserByNum" parameterType="int" resultType="package fashionmanager.park.develop.menu.DTO;">
    SELECT
      num AS userNum,
      id AS userId,
      pwd AS userPwd,
      email AS userEmail,
      NAME AS userName,
      age AS userAge,
      gender AS userGender
     FROM member
     WHERE num = #{userNum}
  </select>

</mapper>