<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fashionmanager.song.develop.InfluencerApply.mapper.InfluencerApplyMapper">

    <resultMap id="influencerApplyMap" type="fashionmanager.song.develop.InfluencerApply.dto.InfluencerApplyResponseDTO">
        <id property="num" column="NUM"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="accept" column="ACCEPT"/>
        <result property="memberNum" column="MEMBER_NUM"/>
    </resultMap>

    <select id="selectResultApply" resultMap="influencerApplyMap">
        SELECT
              NUM
            , TITLE
            , CONTENT
            , ACCEPT
            , MEMBER_NUM
         FROM INFLUENCER_APPLY
    </select>
</mapper>
