<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fashionmanager.song.develop.MenteeApply.mapper.MenteeApplyMapper">
    <resultMap id="menteeApplyMap" type="fashionmanager.song.develop.MenteeApply.dto.MenteeApplyResponseDTO">
        <id property="num" column="num"/>
        <result property="content" column="content"/>
        <result property="accept" column="accept"/>
        <result property="mentoringPostNum" column="mentoring_post_num"/>
        <result property="memberNum" column="member_num"/>
    </resultMap>

    <select id="selectResultApply" resultMap="menteeApplyMap">
        SELECT
            NUM
             , CONTENT
             , ACCEPT
             , mentoring_post_num
             , MEMBER_NUM
        FROM MENTEE_APPLY
        ORDER BY num DESC
    </select>

</mapper>