<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>회원 신고 관련수정</h1>
<form action="/menu/modifyReport" method="post">
    <label>수정 할 회원 번호: </label>
    <input type="number" name="userNum"><br>
    <label>수정 할 회원의 신고누적 수: </label>
    <input type="number" name="ReportCount"><br>
    <label>수정 할 회원의 하루 신고가능 횟수: </label>
    <input type="number" name="DailyReportCount"><br>
    <input type="submit" value="전송">
</form>

</body>
</html>