<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>신규 회원가입</h1>

<form action="/menu/regist" method="post">
    <label>아이디 입력: </label><input type ="text" name="userId"><br>
    <label>비밀번호 입력: </label><input type ="text" name="userPwd"><br>
    <label>이메일 입력: </label><input type ="text" name="userEmail"><br>
    <label>이름 입력: </label><input type ="text" name="userName"><br>
    <label>나이 입력: </label><input type ="text" name="userAge"><br>
    <label>성별 입력: </label><input type ="text" name="userGender"><br>

    <input type="submit" value="회원가입">

</form>





</body>
</html>