<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h2>회원 상세 정보</h2>

    <p>회원번호: <span th:text="${user.userNum}"></span></p>
    <p>이름: <span th:text="${user.userName}"></span></p>
    <p>신고 누적횟수: <span th:text="${user.ReportCount}"></span></p>
    <p>하루 신고 가능횟수: <span th:text="${user.DailyReportCount}"></span></p>



</body>
</html>