<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<h2>회원 상세 정보</h2>

<p>회원번호: <span th:text="${user.userNum}"></span></p>
<p>아이디: <span th:text="${user.userId}"></span></p>
<p>비밀번호: <span th:text="${user.userPwd}"></span></p>
<p>이메일: <span th:text="${user.userEmail}"></span></p>
<p>이름: <span th:text="${user.userName}"></span></p>
<p>나이: <span th:text="${user.userAge}"></span></p>
<p>성별: <span th:text="${user.userGender}"></span></p>



<h4>보유 뱃지</h4>
<ul>
    <li th:each="badge : ${user.badges}">
        <span th:text="${badge.badgeName}"></span>
    </li>
</ul>



</body>
</html>