<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h3>회원 조회하기</h3>
<form action="/menu/selectResult" method="get">
    <label>회원번호 입력: </label>
    <input type ="number" name="userNum"><br>

    <button type="submit">조회</button>


</form>

</body>
</html>